mixin top_decors
	.top_decors
		.top_decors__item
			img.top_decors__img(src="./images/top_decor_1.svg" alt="Background decor")
		.top_decors__item
			img.top_decors__img(src="./images/top_decor_2.svg" alt="Line decor")